In [6]:
import sqlite3
con = sqlite3.connect("options1.db")
cur = con.cursor()

In [7]:
cur.execute("""
CREATE TABLE IF NOT EXISTS option_orders (
    id INTEGER PRIMARY KEY,
    symbol TEXT NOT NULL,
    option_type TEXT CHECK(option_type IN ('call', 'put')) NOT NULL,
    action TEXT CHECK(action IN ('buy', 'sell')) NOT NULL,
    strike_price REAL NOT NULL,
    expiry_date TEXT NOT NULL,
    quantity INTEGER NOT NULL,
    price REAL NOT NULL,
    costs REAL NOT NULL,
    timestamp TEXT DEFAULT CURRENT_TIMESTAMP
);
""")
con.commit()

In [ ]:
cur.execute(
    """INSERT INTO option_orders (
        symbol, option_type, action,
        strike_price, expiry_date,
        quantity, price, costs,
    ) VALUES (
        'AMD', 'call', 'buy', 110, '2025-05-25',1, 5.0, 1
    );"""
)
con.commit()

In [11]:
#view all
# import sqlite3
# conn = sqlite3.connect('example.db')
# cursor = conn.cursor()
cur.execute("SELECT * FROM option_orders")
rows = cur.fetchall()

In [12]:
rows

[(1,
  'AMD',
  'call',
  'buy',
  110.0,
  '2025-05-25',
  1,
  5.0,
  1.0,
  '2025-04-17 12:42:33')]